body {
  background: purple;
}
form label{
  display: block;
  font-size: 40px
    color: black;
}
for input{
  background: white;
  display: block;
}
h1{
  text-decoration: underline;
  color: blue;
}

table {

background: cor de
preferencia;

}
table {

background: white;

}

thead {

background: #555555;

color: white;

font-weight: bold;

}

td {

border: 1px solid #000000;

border-color: blue ;

text aline:center
}
